{:paths     ["resources" "src"]

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :deps      {org.clojure/clojure         {:mvn/version "1.10.1"}
             org.clojure/tools.logging   {:mvn/version "0.4.1"}
             clojure.java-time           {:mvn/version "0.3.2"}
             instaparse                  {:mvn/version "1.4.10"}
             commons-io/commons-io       {:mvn/version "2.6"}
             lambdaisland/kaocha         {:mvn/version "0.0-389"}
             org.clojure/tools.namespace {:mvn/version "0.3.1"}
             }

 :aliases   {:artifact-name {:extra-deps {metav {:mvn/version "1.6.1"}}
                             :main-opts  ["-m" "metav.display"]}
             :release       {:extra-deps {metav {:mvn/version "1.6.1"}}
                             :main-opts  ["-m" "metav.release"]}
             :dev           {}
             :build         {:extra-deps {luchiniatwork/cambada {:git/url "https://github.com/xfthhxk/cambada.git"
                                                                 :sha     "c8a01477c856fc28c53f34aa3f268f8eaf683869"}}
                             :main-opts  ["-m" "cambada.jar"]}

             :test          {:extra-paths ["test"]
                             :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}
                                           metosin/testit         {:mvn/version "0.3.0"}
                                           lambdaisland/kaocha    {:mvn/version "0.0-367"}}}
             :runner        {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                                     :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
                             :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]}}}
