{:paths     ["resources" "src"]

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :deps      {org.clojure/clojure                 {:mvn/version "1.10.2"}
             org.clojure/tools.logging           {:mvn/version "0.4.1"}
             clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
             instaparse/instaparse               {:mvn/version "1.4.12"}
             commons-io/commons-io               {:mvn/version "2.6"}
             lambdaisland/kaocha                 {:mvn/version "1.87.1366"}
             org.clojure/tools.namespace         {:mvn/version "0.3.1"}
             }

 :aliases   {:artifact-name {:extra-deps {metav/metav {:git/url "https://github.com/jgrodziski/metav/"
                                                       :sha     "83dbd1fba42e868783a93c1e58b2a4d3c2a5055b"}}
                             :main-opts  ["-m" "metav.display"]}
             :release       {:extra-deps {metav/metav {:git/url "https://github.com/jgrodziski/metav/"
                                                       :sha     "83dbd1fba42e868783a93c1e58b2a4d3c2a5055b"}}
                             :main-opts  ["-m" "metav.release"]}
             :dev           {}
             :build         {:extra-deps  {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                             :extra-paths ["script"]
                             :ns-default  build}

             :deploy        {:extra-deps  {slipset/deps-deploy           {:mvn/version "0.2.2"}
                                           io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                             :extra-paths ["script"]
                             :ns-default  build}

             :test          {:extra-paths ["test"]
                             :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                                           metosin/testit         {:mvn/version "0.4.0"}
                                           lambdaisland/kaocha    {:mvn/version "1.0.732"}}}
             :runner        {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                                     :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
                             :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]}}}
