#kaocha/v1
    {:tests [{:id                           :scenario
              :type                         :kaocha.type/scenari
              :kaocha/source-paths          ["src"]
              :kaocha/test-paths            ["test/scenari/v2"]
              :scenari.v2.kaocha/glue-paths ["test/scenari/v2"]}]
     :kaocha/reporter              kaocha.report/documentation}
